.spinning-earth {
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

h1, h2, h3, .navbar-brand {
    font-family: 'Changa', sans-serif;
}

p, div, body {
    font-family: 'Sometype Mono', monospace;
}

html {
  scroll-behavior: smooth;
 }

#account-pic{
  border-radius:50px;
}
#account-info{
  height: 300px;
}

#i_bookmarks-button{
  font-size: 30pt;
}

.card-content {
	font-size: 30pt;
}
.bookmarks-page-button{
  font-size: 30pt;
}

.back-arrow {
	font-size: 28pt;
	font-weight: bold;
}

.truncate {
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.order-by-label {
	font-size:10pt;
}

#i_dropdown-filter {
	max-width: 80px;
	max-height: 40px;
}

.submitted-event-title {
	font-size: 20px;
}

.event-btn {
	max-width: 40px;
	max-height: 40px;
}

.bookmark-btn {
	max-width: 40px;
	max-height: 40px;
}

#i_editprofile-button {
    font-size: 30pt;
}

#mypic-goes-here {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.btn:hover .material-icons {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        transition: box-shadow 0.3s ease;
    }

#profilebutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#account-info {
    min-height: 100px; /* Set a minimum height, adjust as needed */
    word-wrap: break-word; /* Allow long words to break and wrap */
}

/* this is the css for the fixed footer */
footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}

/* Change this bottom margin if the size of it changes (Just do your best to estimate it) */
/* This is so that content doesn't get covered by the fixed footer */
body {
  margin-bottom: 110px;
}

.account-info-icons {
	font-size: 40pt;
}
