.spinning-earth {
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

h1, h2, h3, .navbar-brand {
    font-family: 'Changa', sans-serif;
}

p, div, body {
    font-family: 'Sometype Mono', monospace;
}

html {
  scroll-behavior: smooth;
 }

#account-pic{
  border-radius:50px;
}
#account-info{
  height: 300px;
}